<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @text_pin.content %>
</p>

<p>
  <b>Title:</b>
  <%= @text_pin.title %>
</p>

<p>
  <b>User:</b>
  <%= @text_pin.user_id %>
</p>
<p>
  <% @comments.each do |comment| %>
    <p>
    <strong><%= User.find(comment.user_id).name %></strong>: <%= comment.body %>
    </p>
  <% end %>
</p>


<%= form_for @comment do |f| %>
  <%= f.text_area :body, placeholder: "Enter Comment Here" %>
  <%= f.hidden_field :commentable_type, value: "Text_Pin" %>
  <%= f.hidden_field :commentable_id, value: @text_pin.id %>
  <%= f.submit %>
<% end %>

<%= link_to 'Edit', edit_text_pin_path(@text_pin) %> |
<%= link_to 'Back', text_pins_path %>
